doctype html
html
	head
		title
		script(src='cordova.js')
		meta(charset='utf-8')
		meta(name='viewport', content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
	body(ng-app="app")
		ion-nav-bar(class="bar-stable")
			ion-nav-back-button
		ion-nav-view
		script(src='vendor.js')