#dashboard-page-container .scroll {
    direction: rtl;
    > div {
        margin-bottom: 30px;
        word-wrap: normal;
        .col {
            text-align: right;
            font-size: 11px;
            direction: ltr;
            .btn {
                cursor: pointer;
            }
        }
    }
}